nav {
    background-color: var(--c-black);
}
.navbar-brand {
    transition-duration: .3s;
    color: var(--c-white);
}
.navbar-brand:hover {
    color: var(--c-white);
}

.nav-link {
    transition: color, margin-left, margin-right .3s;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--c-light);
}
.nav-link:hover {
    transition: height, color .3s;
    color: var(--c-white);
}
.nav-link:active {
    transition: color, margin-left, margin-right .3s;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--c-white);
}
