/* https://coolors.co/palette/0a0908-22333b-eae0d5-c6ac8f-5e503f */
:root {
  --c-white: #EAE0D5;
  --c-black: #0A0908;
  --c-dark: #22333B;
  --c-light: #e8d1bb;
  --c-accent: #5E503F;
}

p {
  color: var(--c-black);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
